<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlosandres.wasd_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Classes_Login_Screen.Login_Main_Screen" />
        <activity android:name=".Classes_Login_Screen.Login_Sing_Up_Screen" />
        <activity android:name=".Classes_Login_Screen.Login_Sing_In_Screen" />
        <activity android:name=".Classes_Splash_Screen.Splash_Main_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Classes_Main_Screen.Main_Main_Screen"
            android:label="@string/title_activity_main__main__screen" />
        <activity
            android:name=".Classes_Personal_Profile_Screen.My_Personal_Profile_Screen.activity_my_personal_profile_screen"
            android:label="@string/title_activity_my_personal_profile_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Classes_Personal_Profile_Screen.Your_Personal_Profile_Screen.activity_your_personal_profile_screen"></activity>
    </application>

</manifest>